Flask==2.2.2
flask-cors
pandas
numpy
scikit-learn
Flask-SQLAlchemy
flask-marshmallow==0.14.0
marshmallow-sqlalchemy
sqlalchemy
pymysql
cryptography
waitress
sentence-transformers
mysql-connector-python==8.0.31