.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-block: 2rem;
    gap: 1.5rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.title{
    grid-column: span 4;
}

.image{
    grid-column: span 1;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.summary-text{
    grid-column: span 3;
    text-align: justify;
}