:root {
    --text-gradient: linear-gradient(
      68deg,
      #dae2f8,
      #d6a4a4,
      #c9ffbf,
      #ffafbd
    );
  } 
 
 .intro-text{
 background-image: var(--text-gradient);
 background-size: 400%;
 animation: gradient-animation 12s infinite alternate-reverse;
}

@keyframes gradient-animation {
 0% {background-positon: left}
 100% {background-position: right;}
}